<h1>Veterinaria Chansey</h1>
<p>Atendido por las mas entrenadas enfermeras Joy</p>

<table border="2" class="table table-hover table-bordered">
	<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Animal</th>
				<th>Raza</th>
				<th>Fecha Nacimiento</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
		</table>

</body>