<h1>Veterinaria Chansey</h1>
<p>Atendido por las mas entrenadas enfermeras Joy</p>

	<% if flash[:notice] %>
	<div style="background: yellow">
		<%= flash[:notice] %>
	</div>
<% end %>

<table border="2" class="table table-hover table-bordered">
	<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Animal</th>
				<th>Raza</th>
				<th>Fecha Nacimiento</th>
			</tr>
			</thead>
			<tbody>
					<%= render @pets %>
			</tbody>
		</table>

<div class="btn-group" role="group">
	<%= link_to "Nuevo", new_pet_path, class: "btn btn-default" %>
</body>
