<%- if obj.errors.any? %>
<div class="alert alert-warning" role="alert">
<strong> Favor corrija los siguiente: </strong>
		<ul>
			<%- obj.errors.full_messages.each do |msg| %>
				<a href="#" class="alert-link"><li><%= msg %></li></a>	
			<%- end %>
		</ul>
	</div>
<% end %>