<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Veterinaria Chansey</h1>
      <p> Porque tu mascota es nuestra razon de ser</p>
      <a href="https://github.com/KChinchillaHN/EU_Proyecto_Veterinaria">Continua contribuyendo, Descarga el Codigo</a>
    </div>
  </div> 

<div class="neighborhood-guides">
  <div class="container">
    <h2>Mascotas del Mes</h2>
    <p>Una seleccion de las mascotas que mejor se portaron cuando nos visitaron.</p>

  <div class="row"> 
    <div class="col-md-3 col-xs-6"> 
      <a href="#" class="thumbnail"> <img alt="100%x180" data-src="holder.js/100%x180" style="height: 180px; width: 100%; display: block;" src="https://goo.gl/JZpEB0" data-holder-rendered="true"> 
      </a> 
    </div>
    <div class="col-md-3 col-xs-6"> 
      <a href="#" class="thumbnail"> <img alt="100%x180" data-src="holder.js/100%x180" style="height: 180px; width: 100%; display: block;" src="https://goo.gl/PCsNAm" data-holder-rendered="true"> 
      </a> 
    </div>
    <div class="col-md-3 col-xs-6"> 
      <a href="#" class="thumbnail"> <img alt="100%x180" data-src="holder.js/100%x180" style="height: 180px; width: 100%; display: block;" src="https://goo.gl/HsGUcv" data-holder-rendered="true"> 
      </a> 
    </div>
    <div class="col-md-3 col-xs-6"> 
      <a href="#" class="thumbnail"> <img alt="100%x180" data-src="holder.js/100%x180" style="height: 180px; width: 100%; display: block;" src="https://goo.gl/PhyDuV" data-holder-rendered="true"> 
      </a> 
    </div>
  </div> 

  <div class="row"> 
    <div class="col-md-3 col-xs-6"> 
      <a href="#" class="thumbnail"> <img alt="100%x180" data-src="holder.js/100%x180" style="height: 180px; width: 100%; display: block;" src="https://goo.gl/PhyDuV" data-holder-rendered="true"> 
      </a> 
    </div>
    <div class="col-md-3 col-xs-6"> 
      <a href="#" class="thumbnail"> <img alt="100%x180" data-src="holder.js/100%x180" style="height: 180px; width: 100%; display: block;" src="https://goo.gl/HsGUcv" data-holder-rendered="true"> 
      </a> 
    </div>
    <div class="col-md-3 col-xs-6"> 
      <a href="#" class="thumbnail"> <img alt="100%x180" data-src="holder.js/100%x180" style="height: 180px; width: 100%; display: block;" src="https://goo.gl/PCsNAm" data-holder-rendered="true"> 
      </a> 
    </div>
    <div class="col-md-3 col-xs-6"> 
      <a href="#" class="thumbnail"> <img alt="100%x180" data-src="holder.js/100%x180" style="height: 180px; width: 100%; display: block;" src="https://goo.gl/JZpEB0" data-holder-rendered="true"> 
      </a> 
    </div>
  </div> 


  </div>
</div> 
  </body>