<!DOCTYPE html> 
<html>
	<head>
		<title> Veterinaria Chansey </title>
	</head> 
	<body>
		<h1>Veterinaria Chansey</h1>
		<p>Atendido por las mas entrenadas enfermeras Joy</p>

		<% if flash[:notice].present? %>
		<div>
			<%= flash[:notice] %>
		</div>
		<% end %>

		<table border="1">
			<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
					<%= render @animals %>
			</tbody>
		</table>
<p>
	<td> <%= link_to "Nuevo", new_animal_path %> </td>
</p>
</body>
</html>
