<h1>Veterinaria Chansey</h1>
<p>Atendido por las mas entrenadas enfermeras Joy</p>

	<% if flash[:notice] %>
	<div style="background: yellow">
		<%= flash[:notice] %>
	</div>
<% end %>

<table border="2" class="table table-hover table-bordered">
	<thead>
	<tr>
		<th>ID</th>
		<th>Nombre</th>
		<th colspan="2">
			Acciones
		</th>
	</tr>
	</thead>
	<tbody>
			<%= render @animals %>
	</tbody>
</table>

<div class="btn-group" role="group">
	<%= link_to "Agregar Animal", new_animal_path, class: "btn btn-default" %>
</body>