<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @user.name %> </h1>
    <hr>
    <h2>Se ha actualizado su informacion Personal </h2>
    
    <p> <%= @user.name %>, Se ha efectuado con exito la actualizacion de sus datos.</p> 

    <hr>
    <p>Eso es todo por ahora, Que tengas un excelente dia</p>
  </body>
</html>